html{
    background: url('./bg.jpg');
}

body{
    margin: 0;
}

.container{
    height: 150px;
    width: 100%;
    cursor: pointer;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    box-shadow: 0px  0px 10px #ccc;
}

.item{
    position: absolute;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 12px;
}

.white{
    background: #fff;
    height: 100%;
    border: 1px solid #ccc;
    z-index: 1;
}

.black{
    background: #444;
    border: 1px solid #000000;
    z-index: 2;
    width: 20px;
    height: 96px;
    color: #fff;
}

.item span{
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    word-break: break-all;
    padding: 0 2px;
    box-sizing: border-box;
}

.item.active{
    background: #bd87b0;
}
